body {
    margin: 0;
    font-family: Arial;
}

.menu {
    width: 240px;
    background-color: #333;
    height: 100vh;
    position: fixed;
}

.menu h2 {
    color: white;
}

.menu a {
    display: block;
    color: white;
    padding: 10px 16px; /* 10px vertical, 16px horizontal */
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #444;
}

.menu-header {
  color: white;
  background-color: #444;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #555;
}

.menu-body {
    padding: 10px;
}

.menu-body a.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-item .icon { 
  width: 20px; 
  height: 20px;
  display: inline-block;
}

/* para SVG inline permita colorização via currentColor */
.menu-item svg.icon { 
    color: inherit; 
}

/* ajuste visual */
.menu-item .label { 
    font-size: 18px; 
    color: white; 
}

.menu-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #444;
  color: white;
  text-align: center;
  padding: 10px 0px;
  display: flex;  
}

.footer-icon {
  margin-bottom: 5px;
  width: 60px;
}

.footer-text {
  flex: 1;
  text-align: center;
  font-size: 14px;
}

.conteudo {
    margin-left: 240px;
    padding: 20px;
}

.perfil {
    text-align: center;
    padding: 20px;
    color: white;
}

/* só quando dois .perfil aparecem seguidos */
.perfil + .perfil {
  margin-top: 2rem;
}

.perfil img {
    width: 150px;
    border-radius: 50%;
}

section {
    background: #555;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
}